
a {
    text-decoration: none;
    position: relative;
    color: #A31D3C;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #A31D3C;
    transform: scaleX(0); /* Start with no underline */
    transform-origin: left; /* Make it grow from left to right */
    transition: transform 0.5s ease; /* Smooth animation for underline appearance */
}

/* Show underline on hover */
a:hover::after {
    transform: scaleX(1); /* Show the underline */
}
